
  body {
    background-image: linear-gradient(#bcf4de, #cde5d7, #ded6d1, #eec6ca, #ffb7c3 );
    background-size: cover;
    background-repeat: no-repeat;
    height:max-content
  }

  #weather-data {
    text-align:center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }
  .header {
    display:flex;
    justify-content: space-between;
    margin: 30px;
    padding: 30px;
  }
  #select-city {
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
    font-size: xx-large;
    color: #ffb7c3;
    text-shadow: 2px 2px black;
  }
  h2 {
    font-size: xx-large;
    font-family: 'Righteous', cursive;;
    color: #ffb7c3 ;
    text-shadow: 2px 2px black;
  }
  #location-entry {
    margin-top: 40px;
  }
  #submit {
    font-family: 'Titillium Web', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: rgba(199, 208, 216, 0.469);
  }
  #city {
    width: 100%;
    font-family: 'Mr Dafoe', cursive;
    font-size: xx-large;
    color: #ffb7c3;
    text-shadow: 2px 2px black;
  }
  .metric {
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    align-self: center;
    margin: 0px auto;
    background-color: rgba(199, 208, 216, 0.469);
  }
  .imperial {
    display: flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    align-self: center;
    margin: 0px auto;
    margin-top: 10px;
    background-color: rgba(199, 208, 216, 0.469);
  }
  #current-weather, #current-temperature, #wind, #humidity {
    font-family: 'Righteous', cursive;
    color: rgba(0, 0, 0, 0.763);
    background-color: rgba(199, 208, 216, 0.469);
    display: flex;
    flex: 1 1 0;
    border: 2px solid black;
    border-radius: 25%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    height: 125px;
  }
  .output {
    color: #bcf4de;
    text-shadow: 1px 1px black;
    font-size: larger;
  }

  .bottom{
    display:flex;
    flex-direction: column;
  }

  footer {
    font-family: 'Mr Dafoe', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
  } 
  #github, #linkedin {
    height: 30px;
    margin-left: 10px;
  }

@media screen and (max-width: 450px) and (min-width: 0px) {

  body {
    background-image: linear-gradient(#47126B,#571089,#6411ad,#6d23b6,#822faf,#973aa8,#ac46a1,#c05299,#d55d92,#ea698b);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
  }
  .header {
    display:flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
  }
  #weather-data {
    text-align:center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  #location-search {
    width: 40%;
    flex-direction: row-reverse;
    margin-left: 35px;
    margin-right: 0px;
  }
  .metric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    align-self: center;
    margin: 0px auto
  }
  .imperial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    align-self: center;
    margin: 0px auto
  }
  #select-city {
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
    font-size: xx-large;
    color: #ffffffba;
    text-shadow: 2px 2px black;
  }
  h2 {
    font-size: xx-large;
    font-family: 'Righteous', cursive;;
    color: #ffffffba ;
    text-shadow: 2px 2px black;
  }
  #city {
    width: 100%;
    font-family: 'Mr Dafoe', cursive;
    font-size: xx-large;
    color: #ffffffba;
    text-shadow: 2px 2px black;
  }

  .output {
    color: #ffffffba;
    text-shadow: 1px 1px black;
    font-size: larger;
  }
}